<a href="#/{{_id}}/comment" class="add-new-comment btn btn-primary" id="add-new-comment">Add comment</a>

<ul id="single-post">
    <li>
        <div class="panel panel-default">
            <header class="panel-heading">
                <h2 class="panel-title"><a href="#/posts/{{_id}}">{{title}}</a></h2>
            </header>
            <div class="panel-body">
                <main class="posts-content">
                    <h4>Author: {{author.username}}</h4>
                    <article>{{{content}}}</article>
                </main>
                <footer class="posts-footer">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="add-like-container active"><button class="add-like btn btn-primary">Like <span class="badge">{{likes}}</span></button></li>
                        {{!--<li role="presentation" class="comments-count">Comments <span class="badge">{{this.comments}}</span></li>--}}
                        <li role="presentation" class="category-info"><span class="btn btn-warning"><a href="#/home/{{category}}">{{category}}</a></span></li>
                    </ul>
                </footer>
            </div>
        </div>
    </li>
</ul>