<h3>// {{title}}</h3>
<a href="#/{{_id}}/comment" class="add-new-comment btn btn-primary">Add comment</a>
<div id="single-post" class="panel panel-default">
    <div class="panel-body">
        <main class="posts-content">
            <h4>Author: <strong><a href="#/home/all/{{author.username}}">{{author.username}}</a></strong></h4>
            <article>{{{content}}}</article>
        </main>
        <footer class="posts-footer">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="add-like-container active"><button class="add-like btn btn-primary">Like <span class="badge">{{likes}}</span></button></li>
                <li role="presentation" class="comments-count">Comments <span class="badge">{{comments.length}}</span></li>
                <li role="presentation" class="category-info"><span class="btn btn-warning"><a href="#/home/{{category}}">{{category}}</a></span></li>
            </ul>
        </footer>
    </div>
</div>
<h3>// answers</h3>
<ul id="comments">
    {{#each comments}}
    <li>
        <div class="panel panel-default">
            <header class="panel-heading">
                <h2 class="panel-title">Author: <strong><a href="#/home/all/{{author.username}}">{{author.username}}</a></strong></h2>
            </header>
            <div class="panel-body">
                <main class="posts-content">
                    <article>{{{content}}}</article>
                </main>
                <footer class="posts-footer">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="add-like-container active"><button class="add-like btn btn-primary">Like <span class="badge">{{likes}}</span></button></li>
                        <li role="presentation" class="comments-count"><span class="badge">{{labels}}</span></li>
                        <li role="presentation" class="category-info"><span class="btn btn-warning"><a href="#/home/{{../category}}">{{../category}}</a></span></li>
                    </ul>
                </footer>
            </div>
        </div>
    </li>
    {{/each}}
</ul>